/10. GUI
/11. Bases de datos
/12. Introducción a Django
/5. Funciones
/6. Clases y objetos
/7. Modulos ejecutando modulos como scripts
/8. Entrada y salida
/9. Introduccion a la biblioteca estandar de Python y funciones Built-in